<!doctype html>
<html>
  <head>
    <meta charset=utf8>
    <title>MAHILET BLOG</title>
     <link rel="stylesheet"  href="/build/css/style.css">
  </head>
<body>
  <div id = "wrapper">
    <header>

      <h2> Mahilet Hailemariam BLOG</h2>

    </header>

    <nav>
        <ul>
            <li><a href = "/">Home</a></li>
            <li><a href = "/createpost">add comment</a></li>
            <li><a href = "/bios">bios</a></li>
            <li><a href = "/login">login</a></li>

        </ul>

        </nav>


            <div id  = "multi-posts">

                <!-- <p>--below is 'contents' from 'index.html'--</p> -->
                  {{{content}}}
                  <!-- <p>--end 'contents' from 'index.html'-- -->
            </div>
      
</div>
</body>
</html>
