<!doctype html>
<html>
  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <meta charset=utf8>
    <title>MAHILET BLOG</title>


     <link rel="stylesheet"  href="../src/css/style.css">
  </head>
<body>
  <div id = "wrapper">
  <header>

    <h2> Mahilet Hailemariam BLOG</h2>

  </header>

  <nav>
    <ul>
      <li><a href = "/">Home</a></li>
      <li><a href = "/createpost">add comment</a></li>
         <li><a href = "/bios">bios</a></li>
      <li><a href = "/login">login</a></li>

    </ul>

      </nav>


          <div id  = "multi-posts">

            <h2>CREATE POST PAGE</h2>


            <form action="/createpost" method="POST">

            	<label for="topic" id = "selection"><h3>Pick you face</h3></label>
            	<input type="radio" name="topic" value="assets/images/frog.jpg" /><img src=assets/images/frog.jpg class="icon">
                <input type="radio" name="topic" value="assets/images/bilbo.jpg"  /><img src=assets/images/bilbo.jpg class="icon">
                <input type="radio" name="topic" value="assets/images/other.png" /><img src=assets/images/other.png class="icon">
                <input type="radio" name="topic" value="assets/images/monkey.png" /><img src=assets/images/monkey.png class="icon">
            	<input type="radio" name="topic" value="assets/images/cat.png" /><img src=assets/images/cat.png class="icon">
            	<input type="radio" name="topic" value="assets/images/bird.jpg" /><img src=assets/images/bird.jpg class="icon">
            	<input type="radio" name="topic" value="assets/images/fish.png" /><img src=assets/images/fish.png class="icon">
            	</label><br  /><br  />


            <div class="warn">
            	<h2> You Must pick your face </h2>
            	</div>


            	<h3><label for="Your Comment" >comments go below</label></h3>

                <input name="comment" class="text-box" value="" placeholder = "comments" ><br /><h2></h2>

            		<br /><br /><br />

            <input type="submit" class = "but" value="Add New post" />

            </form>



            <br /><br /><br />


            <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

            <script>

            var input = $('input.but');
            var redtext = $(".warn");
            var warn = $('input[name=topic]');
            input.attr('disabled','disabled');

            fade($(".warn"));

            $(document).ready(function(){
                setInterval(function(){
                    $(".warn").fadeToggle(400);
                }, 1500);
            });



            var clicked = function() {
            	redtext.hide();
            	input.show();
            	input.removeAttr('disabled');
            };

            warn.on('click', clicked);







            </script>
          </div>

</div>


</body>
</html>
