

<h2>CREATE POST PAGE</h2>


<form action="/createpost" method="POST">

	<label for="topic" id = "selection"><h3>Pick you face</h3></label>
	<input type="radio" name="topic" value="assets/images/frog.jpg" /><img src=assets/images/frog.jpg class="icon">
    <input type="radio" name="topic" value="assets/images/bilbo.jpg"  /><img src=assets/images/bilbo.jpg class="icon">
    <input type="radio" name="topic" value="assets/images/other.png" /><img src=assets/images/other.png class="icon">
    <input type="radio" name="topic" value="assets/images/monkey.png" /><img src=assets/images/monkey.png class="icon">
	<input type="radio" name="topic" value="assets/images/cat.png" /><img src=assets/images/cat.png class="icon">
	<input type="radio" name="topic" value="assets/images/bird.jpg" /><img src=assets/images/bird.jpg class="icon">
	<input type="radio" name="topic" value="assets/images/fish.png" /><img src=assets/images/fish.png class="icon">
	</label><br  /><br  />

	<label for="Your Comment" >comments go below</label><br  /><br  />

    <input name="comment" class="text-box" value="" placeholder = "comments" ><br />

		<label for="date">Your date:</label><br />



	<input type="submit" value="Add New" />


</form>
