
body {

  color: red;
  font-size:large;
  background:white;
}

#wrapper{
  width:800px;
  margin:auto;
}
#multi-posts{
  clear:both;
  background: antiquewhite;
  padding:40px;
  border-radius: 5px;
  color:black;
  margin:auto;
  padding:40px;

}
.error{
  color:red;
}

p {
  color:blue;
  padding: 8px;
}

p.comments {
  color:red;
  padding: 8px;
}
.warn{

  color:red;
  border:2px solid red;
  border-radius: 5px;
  display:inline-block;
  padding:10px;
}
li{
  list-style: none;
}

section p {
  color:blue;
}

nav {
  /*background: yellow;*/
}

nav ul {
  background:#89A767;/*greencol*/
  border: 1px solid black;
  border-radius: 5px;
}

nav  li {
    display: inline-block;
    width: 22%;
    display:inline-block;
    padding:25px 0 25px 0;
    text-align: center;

}
nav  li a:hover{
    background: #deb520;/*yellowcol*/
    display:block;

}

nav  li a {
      font-size: 24px;
      color:#E8A962;/*roangecol*/
      color:#f2e1a5;/*yellowcol*/
      text-decoration: none;


}

.text-box {
  height:200px;
  width:80%;
  background:white;
  border: 1px solid black;
  border-radius: 5px;
}
.icon{
  margin-top: 15px;
  max-width: 50px;

}

.biopicsmall{
  margin-top: 15px;
  width: 150px;

}


.single{
  border:1px solid black;
  border-radius: 5px;
  margin-bottom:15px;
  background:white;
}
.singlefu{
  border:1px solid black;
  border-radius: 5px;
  margin-bottom:15px;
  background:white;
}
.moreLess{
  border-radius:2px;
  height:35px;
  background-color:white;
  font-size: 14px;
}
.but{
  border-radius:5px;
  height:75px;
  background-color:lightblue;
  font-size: 22px;
}
h2{
  color:#89A767;
}
h1 {
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26.3999996185303px;
}
h3 {
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}
p {
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714282989502px;
}
